@mixin onTablet {
  @media (min-width: $tabletMinWidth) {
    @content;
  }
}

@mixin onDesktop {
  @media (min-width: $desktopMinWidth) {
    @content;
  }
}

@mixin paddingInline() {
  padding-inline: 28px;

  @media (min-width: $tabletMinWidth) {
    padding-inline: 38px;
  }

  @media (min-width: $desktopMinWidth) {
    padding-inline: 58px;
    margin-inline: auto;
    max-width: 1200px;
  }
}
